/* You can add global styles to this file, and also import other style files */
.container{
  display: flex;
  flex-direction: column;
  min-width: 100vw !important;
  min-height: 100vh !important;
  background-color: #f5f5f5;
}
  
  textarea{
    resize: none;
    padding: 1em;
    box-sizing: border-box;
    width: 55%;
    line-height: 20px;
    border: 1px solid #25854d;
    border-radius: 7px;
  }
  textarea:focus{
    outline: none;
  }
  
  .header{
    min-height: 0.5em;
    width: 100%;
    display: flex;
    background: #25854d;
    justify-content: space-between;
    align-items: center;
    color:#FFF;
    box-shadow: 0px 0px 1px 3px #25854d;
  }
  .header-content{
    padding: 0em 1em;
    gap: 0em 1em;
    display: flex;
    align-items: center;
  }
  .header-content>img:first-child{
    width: 3em;
    height: 3em;
  }
  
  .header-content>img:last-child{
    width: 10em !important;
    margin-right: 7em;
    height: 4em;
  }
  
  .header-content>a{
    color: white;
  }
  
  .content{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    flex: 1;
  }
  
  .card-holder{
    width: fit-content;
    min-width: 40%;
    height: fit-content;
    /* background: rgb(255, 255, 255); */
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
  }
  
  .card{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding: 1em;
    font-size: 14px;
  }
  
  .card-row{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
    align-items: center;
  }
  
  .card-row > h3{
    text-align: center;
    color: #202020;
    font-weight: bold;
  }
  
  .card-row>label{
    color: #202020;
    font-weight: bold;
    width: 50%;
  }
  
  .card-row label:nth-child(1):before{
    content:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16"><path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/><path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/></svg>');
    position: relative;
    margin: 0em 0.5em;
  }
  .card-row label:nth-child(3):before{
    position: relative;
    margin: 0em 0.5em;
    content:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-blockquote-left" viewBox="0 0 16 16"><path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm.79-5.373q.168-.117.444-.275L3.524 6q-.183.111-.452.287-.27.176-.51.428a2.4 2.4 0 0 0-.398.562Q2 7.587 2 7.969q0 .54.217.873.217.328.72.328.322 0 .504-.211a.7.7 0 0 0 .188-.463q0-.345-.211-.521-.205-.182-.568-.182h-.282q.036-.305.123-.498a1.4 1.4 0 0 1 .252-.37 2 2 0 0 1 .346-.298zm2.167 0q.17-.117.445-.275L5.692 6q-.183.111-.452.287-.27.176-.51.428a2.4 2.4 0 0 0-.398.562q-.165.31-.164.692 0 .54.217.873.217.328.72.328.322 0 .504-.211a.7.7 0 0 0 .188-.463q0-.345-.211-.521-.205-.182-.568-.182h-.282a1.8 1.8 0 0 1 .118-.492q.087-.194.257-.375a2 2 0 0 1 .346-.3z"/></svg>');
    width: 16px;
    height: 16px;
  }
  
  .card-row>input{
    padding: 0.5em;;
    transition: 300ms;
    border: 1px solid #25854d;
    border-radius: 5px;
    width: 50%;
  }
  
  .card-row>input:focus{
    outline: none;
    border: 1px solid #25854d;
    transition: 300ms;
    transform: scale(1.01);
  }
  
  .card-row>button{
    padding: 1em 0em;
    margin-top: 10px;
    background: #25854d;
    border-radius: 5px;
    width: calc(50% + 1em);
    color: #FFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 300ms;
  }
  
  .card-row>button:hover{
    transform: scale(1.01);
    transition: 300ms;
  }
  .card-row>button:active{
    transform: scale(1.0);
    filter: brightness(50%);
  }
  
  .card-row>button:disabled{
    background: #65776c;
    cursor: not-allowed;
    transition: 500ms;
  }
  .card-row>button:disabled:hover{transform: scale(1.0);}
  .card-row>button:disabled:active{filter: brightness(100%);}
  
  
  .modal-div{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    transition: 300ms;
  }
  .modal-div-visible{
    opacity: 100%;
    z-index: 1;
    transition: 300ms;
  }
  
  .load-icon{
    position: absolute;
  }
  
  .spin>img{
    aspect-ratio: 2/2;
    width: 200px;
    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }
  
  .fakebtn{
    background: #25854d;
    color: #FFF;
    width: 55%;
    text-align: center;
    padding: 0.5em 0em;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .erro-true{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    top: 35%;
    left: 35%;
    z-index: 30;
    /* min-width: 20em; */
    max-width: 20em;
    padding: 3%;
    background: #e0e0e0;
    border-radius: 15px;
    transition: 300ms;
    animation: born-message 500ms normal;
  }
  
  .erro-true h1{
    color: red;
  }
  
  
  .erro-true  button{
    transition: 300ms;
    background: red;
    color: #FFF;
    border: none;
    border-radius: 10px;
    height: 2em;
    margin-top: 1em;
  }
  
  
  .erro-true > button:hover{
    transition: 300ms;
    background: rgb(255, 40, 40);
    cursor: pointer;
  }
  