<div class="container">
  <div class="header">
    <div class="header-content">
      <img src="assets/logo des.grafico.png" alt="logoTMKT">
      <h3>Permissão de Acesso E-Login Antigo - {{nrreg}}</h3>
    </div>
    <div class="header-content">
      <img src="assets/logo_white_2.png" alt="imageTMKT">
    </div>
    <div class="header-content">
      <h3>Sair</h3>
      <a href="http://intranet.tmktbrasil.com.br">
        <svg xmlns="http://www.w3.org/2000/svg" title="Sair" width="32" height="32" fill="currentColor"
          class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <title>Sair</title>
          <path fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
          <path fill-rule="evenodd"
            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
        </svg>
      </a>
    </div>
  </div>
  <div class="content">
    <div class="card-holder">
      <div class="card">
        <div class="card-row center-g">
          <h3>Consultar</h3>
        </div>
        <div *ngIf="warningError" class="warning-error">
          <label>O campo matrícula está vazio.</label>
        </div>
        <hr>
        <div class="card-row">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
          <label form="login" class="form-label">Matricula: </label>
          <input (input)="onSubmit()" type="text" class="form-control" name="nrreg" autocomplete="off" required [(ngModel)]="matricula">
        </div>
        <div *ngIf="isDivVisible && colaboradorInfos" class="card-row-label">
          <label class="form-label">Nome: {{colaboradorInfos["nome"] }}</label>
          <label class="form-label">CR: {{colaboradorInfos.cr}}</label>
          <label class="form-label">Supervisão: {{colaboradorInfos.matriculaSupervisor}}</label>
          <label class="form-label" style="text-align: center; font-size: larger;">.: Motivo do Desbloqueio :.</label>
          <textarea rows="4" [(ngModel)]="colaboradorInfos.motivoDesbloqueio">
          </textarea>
        </div>
        <div class="card-row">
          <button *ngIf="isDivVisible && colaboradorInfos" class="fakebtn" (click)="confirmaDesbloqueioOperador(colaboradorInfos)">Confirmar</button>
          <button class="fakebtn" *ngIf="isBottomVisible" (click)="onSubmit()">Consultar</button>
          <button class="fakebtn" type="reset" (click)="resetVisibility()">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</div>
