<div class="container">
    <div class="header">
      <div class="header-content">
        <img src="assets/logo des.grafico.png" alt="logoTMKT">
        <h3>Comissão - {{nrreg}}</h3>
      </div>
      <div class="header-content">
        <img src="assets/logo_white_2.png" alt="imageTMKT">
      </div>
      <div class="header-content">
        <h3>Sair</h3>
        <a href="http://intranet.tmktbrasil.com.br">
          <svg xmlns="http://www.w3.org/2000/svg" title="Sair" width="32" height="32" fill="currentColor"
            class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <title>Sair</title>
            <path fill-rule="evenodd"
              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd"
              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="card-holder">
        <div class="card">
            <div class="card-row center-g">
                <h3>Consultar</h3>
            </div>
            <hr>
            <div class="card-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg>
                <label form="login" class="form-label">Vigência: </label>
                <select [(ngModel)]="vpe_codigo">
                  <option value="" disabled selected>Selecione</option>
                  <!--<option *ngFor="let obj of vigencia" [value]="obj.vpe_codigo">
                    {{ obj.vpe_data_inicio | slice:0:10 }} até {{ obj.vpe_data_fim | slice:0:10 }}
                  </option>-->
                  <option  [value]="vigencia.vpe_codigo">
                    {{ vigencia.vpe_data_inicio | slice:0:10 }} até {{ vigencia.vpe_data_fim | slice:0:10 }}
                  </option>
                </select>
                
            </div>
            <div class="card-row">
                <button class="fakebtn" type="reset">Limpar</button>
                <button class="fakebtn" (click)="consultar()">Consultar</button>
                <button class="fakebtn" (click)="onSubmit()">Enviar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="centraliza-mensagem" *ngIf="sucesso || erro " >
      <div class="erro-true" *ngIf="erro==true">
        <h2>Erro!</h2>
        <p>{{mensagemErro}}</p>
        <button (click)="btnErro()">OK</button>
      </div>
    </div> -->
  
  <div [ngClass]="{'modal-div-visible':carregamento == true}" class="modal-div">
      <div class="load-icon">
        <img src="assets/logo des.grafico.png" alt="">
      </div>
      <div class="load-icon spin">
        <img src="assets/226359_half.png" >
    </div>
    </div>
  