
 <ul>
    <li class="link-li"(click)="mudarPag('cadastroCid')">Cadastro CID</li>
    <li class="link-li"(click)="mudarPag('consultaNotificacao')">Consulta Notificação</li>
    <li class="link-li"(click)="mudarPag('relatorioPremiacaoHomeOfficeAvaliativo')">Relatório premiação Home Office</li>
    <li class="link-li"(click)="mudarPag('PermissaoAcessoEloginAntigo')">Permissão de Acesso E-Login Antigo</li>
    <li class="link-li"(click)="mudarPag('medidaDisciplinar')">Medida Disciplinar</li>
    <li class="link-li"(click)="mudarPag('comissaoPremiacaoDiferencaArquivo')">Arquivo - Presença que faz a Diferença</li>
    <li class="link-li"(click)="mudarPag('inovAI')">InovAI</li>

 </ul>
