<div class="container">
  <div class="header">
    <div class="header-content">
      <img src="assets/logo des.grafico.png" alt="logoTMKT">
      <h3>InovAI - {{nrreg}}</h3>
    </div>
    <div class="header-content">
      <img src="assets/logo_white_2.png" alt="imageTMKT">
    </div>
    <div class="header-content">
      <a href="http://intranet.tmktbrasil.com.br">
        <svg xmlns="http://www.w3.org/2000/svg" title="Sair" width="32" height="32" fill="currentColor"
          class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <title>Sair</title>
          <path fill-rule="evenodd"
          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
          <path fill-rule="evenodd"
          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
        </svg>
      </a>
    </div>
  </div>
    
    <div class="content">
      <div class="card-holder">
        <div class="card">
          <div class="card-rowcenter-g">
          </div>
          <div class="alinhar">
            <div class="left">
            <button (click)="getArquivos(acessoPai)"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            </button>
          </div>
          <div class="center">   
          <h3>Explorar Arquivos</h3>
          </div>
          </div>
          <hr>
          <div class="card-row">
          <button class="fakebtn-create" (click)="createFolder()">Criar Pasta</button>
          <button class="fakebtn-create"  (click)="createFile()">Criar Arquivo</button>
        </div>
        <div>
          <div id="file-viewer-container">
            <ul class="file-list">
              <!-- Exibição das pastas e arquivos -->
               <li *ngFor="let item of content">
                <span *ngIf="item.type === 'Folder'" (click)="openFolder(item)" >📂 {{ item.name }}</span>
                <span *ngIf="item.type === 'File'" (click)="openFile(item)" >📄 {{ item.name }}</span>
                <span style="color: gray;">Criado:{{item.creationTime | date : "dd/MM/YYYY HH:mm"}}</span>
                <span style="color: gray;">Modificado:{{item.lastWriteTime | date : "dd/MM/YYYY HH:mm"}}</span>
                <button  (click)="deleteItem(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg></button>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Popup para criação de Arquivo -->
    <div *ngIf="isCreatingFile" class="popup-file">
      <div class="popup-createfile">
        <input [(ngModel)]="newFileName" placeholder="Nome do Arquivo" class="file-editor" />
        <textarea [(ngModel)]="newFileContent" rows="10" class="file-editor" placeholder="Conteúdo do Arquivo"></textarea>
        <div class="buttonfile">
          <button class="fakebtn-save" (click)="createNewFile(newFileName, newFileContent)">Salvar</button>
          <button class="fakebtn-delete" (click)="closePopup()">Cancelar</button>
        </div>
      </div>
    </div>

    <!-- Popup para criação de Pasta -->
    <div *ngIf="isCreatingFolder" class="popup-folder">
      <div class="popup-createfolder">
        <input [(ngModel)]="newFolderName" placeholder="Nome da Pasta" class="folder-editor" />
        <div class="buttonfolder">
          <button class="fakebtn-save" (click)="createNewFolder(newFolderName)">Criar Pasta</button>
          <button class="fakebtn-delete" (click)="closePopup()">Cancelar</button>
        </div>
      </div>
    </div>

    <!-- Popup para edição de Arquivo -->
    <div *ngIf="selectedFile" class="popup-overlay">
      <div class="popup">
        <div class="card-row center-g">
          <h3>📄 - {{ selectedFile.name }}</h3>
        </div>
        <hr>
        <div class="card-row">
          <textarea [(ngModel)]="selectedFile.content" rows="10" class="file-editor" placeholder="Edite o conteúdo do arquivo aqui..."></textarea>
        </div>
        <div class="card-row">
          <button class="fakebtn-save" *ngIf="!selectedFolder" (click)="saveFile(selectedFile.path, selectedFile.content ?? '')">Salvar</button>
          <button class="fakebtn-delete" (click)="closePopup()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
